
.vs/HourlySign/v14/.suo
bin/Debug/HourlySign.exe
bin/Debug/HourlySign.pdb
obj/Debug/HourlySign.csproj.FileListAbsolute.txt
obj/Debug/HourlySign.csproj.GenerateResource.Cache
obj/Debug/HourlySign.csprojResolveAssemblyReference.cache
obj/Debug/HourlySign.exe
obj/Debug/HourlySign.pdb
*.exe
obj/Debug/HourlySign.pdb
*.pdb
.vs/HourlySign/v14/.suo
*.suo
*.ide
*.cache
